.home {
  margin-top: 50px;
}

.input {
  width: 550px;
  height: 25px;
  border: 1px solid rgb(145, 4, 4);
  border-radius: 5px;
  background: rgb(2, 2, 29);
  color: rgb(145, 4, 4);
}

::placeholder {
  color: rgb(145, 4, 4);
  font-size: medium;
}

.button {
  margin-left: 15px;
  height: 30px;
  border: 1px solid rgb(145, 4, 4);
  border-radius: 5px;
  color: rgb(145, 4, 4);
  background: rgb(2, 2, 29);
  font-size: medium;
}

.errorClass {
  display: inline-block;
  align-items: center;
  margin-top: 35px;
  height: 45px;
  font-size: x-large;
  font-family: fantasy;
  background: rgb(148, 143, 143);
}

.video {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 15px;
}

.YouTube {
  margin-top: 45px;
}

.YouTubeSnippet {
  width: 990px;
  height: 640px;
}

li {
  list-style: none;
  color: darkred;
}

@media screen and (max-width: 1000px) {
  .YouTubeSnippet {
    width: 690px;
    height: 440px;
  }
}

@media screen and (max-width: 570px) {
  .errorClass {
    font-size: 16px;
  }

  .input {
    width: 250px;
  }

  .video {
    display: flex;
    flex-direction: column;
  }

  .YouTubeSnippet {
    width: 300px;
    height: 550px;
  }
}

@media screen and (max-width: 300px) {
  .YouTubeSnippet {
    width: 250px;
    height: 350px;
  }
}
